{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Bodega</title>
{% endblock %}

{% block content %}
<main class="" role="main" style="min-height: 100vh;">
  <div class="container mb-3 ms-auto me-auto">
    <section>
      <h1 class="text-center mt-4">Mantenedor de bodega</h1>
      <br>
      <form id="form" method="POST" class="w-75 mx-auto">
        {% csrf_token %}
        <div class="d-flex">
          <div class="d-flex flex-column w-75">
            {{ form|as_bootstrap_form }}
            <button class="btn btn-success mb-3 px-4 ms-auto mt-2" type="submit">Guardar</button>
          </div>
          <img id="cuadro-imagen" src="{% static 'img/sin-imagen.png' %}" class="w-25 ms-3">
        </div>
      </form>
    </section>
  </div>
  <hr>
  <div class="overflow-auto ms-auto me-auto" style="width: 80%;">
    <!--MAIN TABLE-->
    {% if productos %}
    <table id="tabla-principal" class="table table-hover">
      <thead>
        <!-- AREA DE TITULOS DE LA TABLA -->
        <tr>
          <th> Imagen </th>
          <th> Nombre </th>
          <th> Categoría </th>
          <th> Precio </th>
          <th> Descuento oferta</th>
          <th> Descuento subscriptor</th>
          <th> Estado </th>
          <th> Acción </th>
        </tr>
      </thead>
      <tbody>
        <!-- AREA DE FILAS DE PRODUCTOS -->
        {% for producto in productos %}
        <tr>
          <td>
            <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="" width="100px">
          </td>
          <td>{{producto.nombre_producto}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.precio_producto|formatear_dinero}}</td>
          <td>{{producto.descuento_subscriptor|formatear_porcentaje}}</td>
          <td>{{producto.descuento_oferta|formatear_porcentaje}}</td>
          <td>{{producto.estado}}</td>
          <!-- Botón de eliminar producto de bodega, se activa sólo para productos no vendidos -->
          <td>
            {% if producto.estado == 'En bodega' %}
            <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" class="btn btn-danger btn-sm"> Eliminar
            </a>
            {% else %}
            <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" class="btn btn-danger btn-sm disabled">
              Eliminar </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <!--MAIN TABLE-->
  </div>
</main>
{% endblock content %}

{% block script %}
<input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
<script src="{% static 'js/bodega.js' %}"></script>
{% endblock script %}