{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Carrito</title>
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-4 text-nowrap flex-nowrap" style="height: 100%;">
  <!--TITLE-->
  <div class="w-75">
    <h1 class="mb-5">Carrito de compras</h1>
  </div>
  <!--TITLE-->
  <div class="w-75 overflow-auto">
    <!--MAIN TABLE-->
    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Categoría </th>
          <th> Producto </th>
          <th> Precio </th>
          <th> % Descto <br> Subscriptor </th>
          <th> % Descto <br> Oferta </th>
          <th> % Descto <br> Total </th>
          <th class="text-end"> Descuentos </th>
          <th class="text-end"> Precio a pagar </th>
          <th> Opciones </th>
        </tr>
      </thead>
      <tbody>
        {% for item in detalle_carrito %}
          <tr>
            <td> {{ item.id }} </td>
            <td> {{ item.producto.categoria.nombre }} </td>
            <td> {{ item.producto.nombre }} </td>
            <td> {{ item.precio|formatear_dinero }} </td>
            <td> {{ item.descuento_subscriptor|formatear_porcentaje }} </td>
            <td> {{ item.descuento_oferta|formatear_porcentaje }} </td>
            <td> {{ item.descuento_total|formatear_porcentaje }} </td>
            <td class="text-end"> {{ item.descuentos|formatear_dinero }} </td>
            <td class="text-end"> {{ item.precio_a_pagar|formatear_dinero }} </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'ficha' item.producto.id %}" class="btn btn-sm btn-primary"> Detalle </a> 
                <a href="{% url 'eliminar_producto_en_carrito' item.id %}" class="btn btn-sm btn-danger"> Eliminar </a> 
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--MAIN TABLE-->
  </div>
  <div class="w-75 mt-3">
    <!--SUMMARY-->
    <table class="w-25 ms-auto table custom-table table-borderless">
      <tr>
        <td>
          <div class="col fw-bold">
            Precio sin IVA
          </div>
        </td>
        <td>
          <div class="col border border-2 border-dark text-end ms-2 ps-5 pe-1">
            {{ monto_sin_iva|formatear_dinero }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="col fw-bold">
            Valor del IVA (19%)
          </div>
        </td>
        <td>
          <div class="col border border-2 border-dark text-end ms-2 pe-1">
            {{ iva|formatear_dinero }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="col fw-bold">
            Total a pagar
          </div>
        </td>
        <td>
          <div class="col border border-2 border-dark text-end ms-2 pe-1">
            {{ total_a_pagar|formatear_dinero }}
          </div>
        </td>
      </tr>
    </table>
    <!--SUMMARY-->
    <div class="d-flex justify-content-end">
      <a href="{% url 'vaciar_carrito' %}" class="btn btn-danger me-3"> Vaciar carrito </a>
        <a href="#" class="btn btn-success"> Continuar al pago </a>
    </div>
  </div>
</div>
{% endblock content %}
