{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Mis compras</title>
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-4 text-nowrap flex-nowrap" style="height:100%">
  <!--TITLE-->
  <div class="w-75">
    <h1 class="mb-3">Mis compras anteriores</h1>
  </div>
  <!--TITLE-->
  <div class="w-75 overflow-auto" style="height:100%">
    <!--MAIN TABLE-->
    <!-- AREA DE TABLA: Datos de las boletas de compras del cliente (VER COMENTARIO "TABLA AVANZADA" en script.js) -->
    <table id="tabla-principal" class="table table-hover">
      <thead>
          <tr>
              <th> Nro boleta </th>
              <th> Venta </th>
              <th> Despacho </th>
              <th> Entrega </th>
              <th> Monto total </th>
              <th> Estado actual </th>
              <th> Opciones </th>
          </tr>
      </thead> 
      <tbody>
          {% for boleta in historial %}
              {% if boleta.estado == 'Anulado' %}
                  <tr class="letra-boleta-anulada"> 
              {% else %}
                  <tr>
              {% endif %}
                  <td> {{ boleta.nro_boleta }} </td>
                  <td> {{ boleta.fecha_venta|formatear_fecha }} </td>
                  <td> {{ boleta.fecha_despacho|formatear_fecha }} </td>
                  <td> {{ boleta.fecha_entrega|formatear_fecha }} </td>
                  <td> {{ boleta.total_a_pagar|formatear_dinero }} </td>
                  <td> {{ boleta.estado }} </td>
                  <td>
                    <a href="{% url 'boleta' boleta.nro_boleta %}" class="btn btn-sm btn-primary">Detalle</a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>       
  </table>
    <!--MAIN TABLE-->
  </div>
</div>
{% endblock content %}
  