{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Mantenedor productos</title>
{% endblock %}

{% block content %}
<main class="" role="main">
  <div class="container mb-3 ms-auto me-auto">
    <section>
      <h1 class="text-center mt-4">Mantenedor de productos</h1>
      <br>
      <form id="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex w-75 gap-3 mx-auto">
          <div class="w-75">
            {{form.categoria|as_bootstrap_field}}
            {{form.nombre|as_bootstrap_field}}
            {{form.descripcion|as_bootstrap_field}}
            {{form.precio|as_bootstrap_field}}
            {{form.descuento_subscriptor|as_bootstrap_field}}
            {{form.descuento_oferta|as_bootstrap_field}}
          </div>
          <!-- AREA DE CUADRO DE IMAGEN: Imagen del producto (VER COMENTARIO "CUADRO DE IMAGEN" en script.js) -->
          <div class="w-25 d-flex flex-column align-items-center">
            {% if form.imagen.value %}
              <img id="cuadro-imagen" class="w-100" src="/media/{{form.imagen.value}}">
              <button class="btn btn-secondary" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
            {% else %}
              <img id="cuadro-imagen" class="w-100" src="{% static 'img/sin-imagen.png' %}">
              <button class="btn btn-secondary" onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
            {% endif %}
            {{ form.imagen|as_bootstrap_field }}
          </div>
        </div>
        <div class="mt-2 mb-4 text-center mx-auto">
          <input class="btn btn-primary" type="submit" value="Guardar">
          <a class="btn btn-success" href="{% url 'productos' 'crear' '0' %}"> Nuevo </a>    
          <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
          {% if form.instance.id %}
            <a class="btn btn-danger"  href="{% url 'productos' 'eliminar' form.instance.id %}"> Eliminar </a>
          {% endif %}
        </div>
      </form>
    </section>
  </div>
  <hr>
  <div class="overflow-auto ms-auto me-auto text-nowrap" style="width: 80%;">
    <!--MAIN TABLE-->
    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Categoría </th>
          <th> Nombre </th>
          <th> Precio </th>
          <th> %Subs </th>
          <th> %Oferta </th>
          <th> Imagen </th>
          <th> Editar </th>
          <th> Eliminar </th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{producto.id}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio|formatear_dinero}}</td>
            <td>{{producto.descuento_subscriptor|formatear_porcentaje}}</td>
            <td>{{producto.descuento_oferta|formatear_porcentaje}}</td>
            <td>
              <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="" width="100px">
            </td>
            <td>
              <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-outline-primary btn-sm"> Editar </a>
            </td>
            <td>
              <form method="delete">
                <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--MAIN TABLE-->
  </div>
</main>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/productos.js' %}"></script>
{% endblock script %}